@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    box-sizing: border-box;
    font-size: 22px;
    color: white;
    background-color: #0A1119;
}

li {
    list-style: none;
}

::-webkit-scrollbar {
    width: 1px;
    height: 3px;
}

::-webkit-scrollbar-track {
    background: #2D2E32;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #b4b4b4;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: white;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background-color: #13181F;
    padding: 0 100px;
    font-size: 18px;
}
.header__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
}
.header__user {
    display: flex;
    align-items: center;
    position: relative;
}
.header__user-avatar {
    width: 30px;
    height: 30px;
    object-fit: cover;
}
.user__menu {
    cursor: default;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 37px;
    right: 0;
    width: 180px;
    display: none;
    height: 360px;
    background: #10131B;
    border-radius: 7px;
    border: 1px solid #2D2E32;
    z-index: 999;
    font-size: 14px;
    transition: all .5s;
}
.user__menu-polygon {
    position: absolute;
    right: 16px;
    top: -8px;
    z-index: -1;
}
.user__menu.active {
    display: block;
}
.user__menu-item {
    white-space: pre-wrap;
    overflow: auto;
    max-width: 156px;
    padding: 0 12px;
    margin: 0;
    min-height: 40px;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #2D2E32;
    color: white;
    cursor: pointer;
    transition: .2s all;
}
.user__menu-item:nth-child(2):hover {
    background: #10131B;
}
.user__menu-item:nth-child(2) {
    background: #10131B;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    font-weight: bold;
    opacity: 1;
    color: white;
    cursor: auto;
}
.user__menu-item:hover {
    background-color: #0D091F;
}
.user__menu-item:last-child {
    position: absolute;
    width: 156px;
    bottom: 0;
    border-bottom: none;
    border-top: 1px solid #2D2E32;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

button {
    border: none;
    outline: none;
    background-color: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
    cursor: pointer;
    font-size: inherit;
}

a {
    text-decoration: transparent;
    color: inherit;
}

.container {
    margin: 0 auto;
    padding: 0 100px;
}

input {
    width: 100%;
    margin: 10px 0;
    padding: 13px 20px;
    height: 20px;
    border: 3px solid #ccc;
    transition: border 0.5s;
    outline: none;
    border-radius: 4px;
    font-size: 18px;
}

input:focus {
    border: 3px solid #000000;
}

.error404 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.error404 .link {
    font-size: 24px;
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

.error404__text {
    margin-bottom: 50px;
    width: 100%;
    text-align: center;
}

.error404__image {
    width: 300px;
}

.logo {
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 0 0;
}

.logo img {
    width: 350px;
    object-fit: contain;
}
