.auth {
    display: flex;
    justify-content: center;
    width: 500px;
    flex-wrap: wrap;
    position: relative;
}

.auth__outer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.auth__input {

}

.auth__input:focus {

}

.auth__btn {

}

.auth__btnOuter {
    position: relative;
    margin-top: 20px;
    width: 114px;
    height: 53px;
}

.auth__title {
    margin-top: 0;
}

.auth__link {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 18px;
}

.auth__error {
    width: 100%;
    text-align: center;
    color: red;
    bottom: 40px;
    padding: 0;
    font-size: 18px;
    margin: 10px 0 0;
}