
.verification {
    background-color: #000000;
    padding: 0;
    margin-top: 100px;
    display: flex;
    align-items: center;
    height: 170px;
    position: relative;
}

.verification__box {
    font-size: 36px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.verification__box p {
    width: 100%;
    margin: 0;
}

.verification__link {
    text-align: center;
    margin-top: 30px;
    font-size: 18px;
    text-decoration: underline;
    text-decoration-color: white;
}
