
.verification {
    background-color: #000000;
    padding: 0;
    margin-top: 100px;
    display: flex;
    align-items: center;
    height: 120px;
    position: relative;
}

.verification__text {
    font-size: 36px;
    text-align: center;
}