.audio {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.audioTitle {
    width: 100%;
    font-size: 16px;
    margin: 0 0 10px;
    background: none;
    border: none;
    outline: none;
    color: white;
    height: 10px;
    padding-left: 0;
}
.audioTitle:focus {
    border: none;
}
.audioDelete {
    background: #480c0c;
    transition: all .3s ease;
    margin-left: 20px;
    height: 20px;
    width: 120px;
}
.audioDelete:hover {
    background: #5d1a1a;
}
.deleteSelected {
    border: 2px solid #853232;
}
.error {
    font-size: 14px;
    color: red;
    width: 100%;
    margin: 0 0 10px;
    display: none;
}
.errorShown {
    display: block;
}
.inlineAudio {
    width: 400px;
}