.profile {
    display: flex;

}

.profile__info {
    width: 380px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.profile__infoAvatarOuter {
    width: 300px;
    height: 300px;
}
.profile__infoAvatarWrap {
    padding-right: 80px;
}
.profile__infoAvatar {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
}
.profile__username {
    font-size: 32px;
    font-weight: bold;
    margin: 10px 0 0;
}
.profile__status {
    font-size: 20px;
    margin: 20px 0 0;
    width: 380px;
}
.profile__button {
    padding: 10px 40px;
    margin-top: 30px;
    font-size: 18px;
    background-color: #2196f3;
    cursor: pointer;
}


.profile__time {
    width: 100%;
    margin: 30px 0 0;
}
.profile__timeInner {
    display: flex;
    align-items: center;
    width: 160px;
}
.profile__timeIcon {
    width: 30px;
    height: 30px;
    object-fit: cover;
}
.profile__timeData {
    display: flex;
    margin-left: 12px;
    color: #666666;
    font-size: 14px;
    flex-wrap: wrap;
    width: 120px;
}

.profile__timeData div {
    width: 100%;
}

.stats {
    display: flex;
    align-items: center;
    height: 150px;
    margin-top: 75px;
    border: 1px solid #2D2E32;
    border-radius: 7px;
    margin-left: 50px;
    width: 100%;
    justify-content: space-between;

}
.stats__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;

    text-align: center;
}
.stats__boxTitle {
    font-size: 18px;
    color: #666666;
    width: 100%;
    padding: 25px 0 5px;
    margin: 0;
}
.stats__boxData {
    font-size: 36px;
    color: white;
    margin: 0;
    padding: 0;
    font-weight: bold;
}

@media screen and (max-width: 1300px) {
    .stats {
        height: 300px;
        flex-wrap: wrap;
    }
    .stats__box {
        width: 50%;
    }
}

@media screen and (max-width: 1000px) {
    .profile__infoAvatar {
        width: 250px;
        height: 250px;
    }
    .profile__infoAvatarOuter {
        width: 250px;
        height: 250px;
    }
    .profile__username {
        font-size: 24px;
        margin-top: 20px;
    }
    .profile__status {
        font-size: 18px;
    }
    .profile__button {
        padding: 6px 30px;
        font-size: 16px;
    }
    .profile__timeData {
        font-size: 14px;
    }
    .profile__info {
        width: 300px;
    }

    .stats__boxTitle {
        font-size: 14px;
    }
    .stats__boxData {
        font-size: 28px;
    }
    .stats__box {
        height: 120px;
    }
    .stats {
        height: 240px;
        margin-left: 40px;
    }
}

@media screen and (max-width: 800px) {
    .profile__info {
        width: 100%;
    }
    .profile {
        flex-wrap: wrap;

    }
    .profile__infoAvatarWrap {
        width: 100%;
    }
    .profile__username {
        width: 100%;
    }
    .profile__status {
        width: 100%;
    }
    .stats {
        margin-top: 20px;
        height: 180px;
        width: 100%;
        margin-left: 0;
    }
    .stats__box {
        height: 90px;
    }
}

@media screen and (max-width: 613px) {
    .profile__infoAvatar {
        width: 200px;
        height: 200px;
    }
    .profile__infoAvatarOuter {
        width: 200px;
        height: 200px;
    }
    .profile__username {
        font-size: 18px;
    }
    .profile__status {
        font-size: 16px;
    }
    .profile__button {
        font-size: 14px;
    }
    .profile__timeData {
        font-size: 12px;
    }
    .profile__timeIcon {
        width: 25px;
        height: 25px;
    }
    .profile__time {
        margin-top: 20px;
    }
    .stats__boxData {
        font-size: 22px;
    }
    .stats__boxTitle {
        font-size: 14px;
    }
}