.profile {
    display: flex;

}


.profile__info {
    width: 380px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.profile__infoAvatar {
    width: 300px;
    height: 300px;
    object-fit: cover;
    padding-right: 80px;
    cursor: pointer;
}
.profile__popup {
    position: absolute;
    width: 130px;
    left: 85px;
    top: 300px;
    opacity: 0;
    transition: opacity .2s ease;
}
.profile__popup.shown {
    opacity: 1;
}
.profile__popupText {
    background: #2D2E32;
    border: 1px solid #2D2E32;
    border-radius: 3px;
    font-size: 12px;
    text-align: center;

}
.profile__popupIcon{
    position: absolute;
    top: -8px;
    left: 57px;
}
.profile__username {
    font-size: 32px;
    font-weight: bold;
    margin: 10px 0 0;
}
.profile__status {
    font-size: 20px;
    margin: 20px 0 30px;
    width: 380px;
}
.profile__button {
    padding: 10px 40px;
    font-size: 18px;
    background-color: #2196f3;
    cursor: pointer;
}


.profile__time {
    width: 100%;
    margin: 30px 0 30px;
}
.profile__timeInner {
    display: flex;
    align-items: center;
    width: 160px;
}
.profile__timeIcon {
    width: 30px;
    height: 30px;
    object-fit: cover;
}
.profile__timeData {
    display: flex;
    margin-left: 12px;
    color: #666666;
    font-size: 14px;
    flex-wrap: wrap;
    width: 120px;
}

.stats {
    width: 800px;
    display: flex;
    align-items: center;
    background-color: #10131B;
    height: 150px;
    margin-top: 75px;
    border: 1px solid #2D2E32;
    border-radius: 7px;
    margin-left: 50px;
}
.stats__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 200px;
    text-align: center;
    border-right: 1px solid #2D2E32;
    height: 100%;
}
.stats__boxTitle {
    font-size: 18px;
    color: #666666;
    width: 100%;
    padding: 25px 0 5px;
    margin: 0;
}
.stats__boxData {
    font-size: 36px;
    color: white;
    margin: 0;
    padding: 0;
    font-weight: bold;
}