.settings__option {
    font-size: 16px;
    width: 295px;
    padding-left: 5px;
    height: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #2D2E32;
    margin-bottom: 20px;
}
.settings__option:last-child {
    border-bottom: none;
}
.settings__optionInner {
    height: 100%;
    background: #0A121C;
    display: flex;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    transition: all .2s ease;
    position: relative;
    margin-left: 5px;
}
.settings__optionInner.active::after {
    content: "";
    position: absolute;
    background-color: #2196f3;;
    width: 3px;
    height: 100%;
    border-radius: 10px;
    left: -10px;
    top: 0;
}
.settings__optionInner.active:hover {
    background: #0A121C;
}
.settings__optionInner:hover {
    background: #0b131e;

}
.settings__optionText {
    padding-left: 30px;
    margin: 0;
}

.profile__section {
    margin-bottom: 40px;
    position: relative;
}
.profile__sectionTitle {
    font-size: 18px;
    border-bottom: 1px solid rgba(45, 46, 50, 0.53);
    display: inline-block;
    padding: 0 0 5px;
    margin: 0 0 10px;
}

button {
    width: 140px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.settings__content{
    max-width: 700px;
    position: relative;
    padding-bottom: 20px;
}

.setting__title {
    padding: 0 0 10px;
    margin: 0 0 20px 0;
    border-bottom: 1px solid #2D2E32;
    font-size: 26px;
}

.remove {
    background: #480c0c;
    margin-left: 35px;
    margin-top: 30px;
    transition: all .3s ease;
}
.remove:hover {
    background: #5d1a1a;
}
.remove.removeSelected {
    border: 2px solid #853232;
}

@media screen and (max-width: 1000px){
    .settings__content {
        width: 100% !important;
    }
    .setting__title {
        width: 40%;
    }

    .settings__option {
        width: 150px;
        border-bottom: none;
        padding-bottom: 0;
        margin-bottom: 0;
        margin-right: 30px;
    }
    .settings__content {
        width: 80%;
    }

}

@media screen and (max-width: 613px){
    .settings__optionText {
        font-size: 14px;
    }
    .settings__option {
        height: 20px;
        width: 80px;
    }
    .settings__optionText {
        padding-left: 10px;
    }
    .setting__title {
        font-size: 16px;
    }
    .profile__sectionTitle {
        font-size: 14px;
    }
    .remove {
        font-size: 14px;
        width: 120px;
        margin-left: 40px;
    }
    .profile__section {
        margin-bottom: 40px;
    }
    .settings__content {
        height: auto;
    }


}

@media screen and (max-width: 400px){
    .settings__optionInner {
        width: 100%;
    }
    .settings__optionText {
        font-size: 12px;
    }
    .settings__option {
        width: 100%;
        margin-bottom: 15px;
    }
    .settings__option:last-child {
        margin-bottom: 0;
    }
    .setting__title {
        font-size: 14px;
        width: 40%;
    }
    .profile__sectionTitle {
        font-size: 12px;
    }
    .profile__section {
        margin-bottom: 20px;
    }
    .remove {
        margin-top: 25px;
    }

}