.select {
    background: #050B18;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    width: 250px;
    height: 36px;
    overflow: hidden;
    margin: 0 auto 50px;
    transition: all .7s ease;
}
.selectShown {
    height: 206px;
    width: 350px;
}
.title {
    display: flex;
    justify-content: center;
    padding-top: 5px;

}
.titleInner {
    border-bottom: 1px solid #2D2E32;
    display: flex;
    align-items: center;
    padding-bottom: 5px;
    cursor: pointer;
}
.titleText {
    font-size: 18px;
    margin: 0 0 0 5px;
}


.library {
    position: relative;
    height: 130px;
    width: 350px;
    margin-top: 10px;
}
.libraryTitle {
    font-size: 16px;
    display: flex;
    justify-content: center;
    margin: 0 0 10px;
}

.libraryAudio {
    font-size: 14px;
    width: 100%;
    background: #0A121C;
    height: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    margin: 5px 0;
    transition: all .3s ease;
}
.libraryAudioActive {
    background: #0D091F;
}
.libraryAudio:hover {
    background: #0D091F;
}
.libraryAudioTitle {
    padding-left: 10px;
}
.libraryControls {
    display: flex;
    padding-right: 10px;
    align-items: center;

}
.libraryVolume {
    height: 15px;
    width: 90px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.libraryVolume img {
    object-fit: cover;
    height: 100%;
}
.libraryVolumeImg {
    object-fit: cover;
    height: 100%;
}
.libraryVolumeInput {
    height: 3px;
    padding: 0;
    width: 70px;
    border: none;
    margin: 0 5px 0 0;
    cursor: pointer;
}
.libraryVolumeInput:focus {
    border: none;
}
.libraryLinkOuter {
    font-size: 14px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.libraryLink {
    border-bottom: 1px solid white;
}
