.library {
    min-height: 500px;
}
.libraryInner {
    height: 100%;
}

.input {
    background: #0D091F;
    width: 400px;
    height: 50px;
    display: flex;
    cursor: pointer;
    align-items: center;
    border-radius: 20px;
    transition: all .2s ease;
}
.input:hover {
    background: #110c2a;
}
.inputImg {
    width: 40px;
    height: 40px;
    object-fit: cover;
    padding-left: 10px;
}
.inputText {
    font-size: 16px;
    padding-left: 20px;

}
.fileError {
    font-size: 16px;
    color: red;
    margin-top: 10px;
    margin-bottom: 0;
}
.inputError {
    width: 100%;
    font-size: 16px;
    color: red;
    margin-top: 10px;
}

.addForm{
    width: 400px;
    margin: 20px 0 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #2D2E32;
}
.preview {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}
.removePreviewBtn {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    position: absolute;
    top: 10px;
    right: -50px;
    transition: all .3s;
    border-radius: 50%;
}
.removePreviewBtn:hover {
    box-shadow: 0 0 10px 0 red;
}
.previewInput {
    width: 50%;
    background: none;
    height: 0;
    border: none;
    color: white;
    padding-left: 0;
    margin-top: 15px;
    margin-bottom: 0;
    border-bottom: 1px solid #2D2E32;
}
.previewInput:focus {
    border: none;
    border-bottom: 1px solid white;
}


.updateBtn {
    margin-top: 30px;
    background: #2196f3;
    width: 120px;
    height: 30px;
}

.addBtn {
    background: #2196f3;
    width: 120px;
    height: 30px;
    margin-top: 20px;
}