.previewOuter {
    margin-top: 20px;
    width: 400px;
    height: 50px;
}
.input {
    background: #0D091F;
    width: 400px;
    height: 50px;
    display: flex;
    cursor: pointer;
    align-items: center;
    border-radius: 20px;
    transition: all .2s ease;
}
.input:hover {
    background: #110c2a;
}
.inputImg {
    width: 40px;
    height: 40px;
    object-fit: cover;
}
.inputText {
    font-size: 16px;
    padding-left: 20px;
}
.inputError {
    font-size: 16px;
    color: red;
}

.preview {
    display: flex;
    align-items: center;
}
.removePreviewBtn {
    width: 40px;
    height: 40px;
    margin-left: 10px;
}

.submitBtn {
    margin-top: 40px;
    background: #2196f3;
    width: 120px;
    height: 30px;
}