.logo {
    background: none;
    padding: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background-color: black;
    padding: 0 200px;
}

.header__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}