
.avatar {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 50%;
}

.upload {
    position: relative;
    margin-bottom: 10px;
    width: 200px;
    height: 200px;
    font-size: 16px;
    display: block;
    text-align: center;
    cursor: pointer;
}
.uploadError {
    color: red;
    font-size: 14px;
    width: 200px;
    justify-content: center;
    display: none;
}
.uploadError.uploadErrorShown {
    display: flex;
}


.bio {
    background: black;
    border: 1px solid #2D2E32;
    color: white;
    outline: none;
    transition: all .2s ease;
}
.bio:focus {
    border: 1px solid #2196f3;
}

.updateProfile {
    background: #2196f3;
    height: 30px !important;
}