.auth {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.auth__outer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 400px;
    width: 500px;
}

.auth__link {
    position: absolute;
    bottom: -50px;
    font-size: 18px;
    color: white;
}

