.formOuter {
    width: 500px;
    height: 300px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.page {
    margin-top: 100px;
}
.formText {
    display: flex;
    justify-content: center;
    font-size: 16px;
    margin-bottom: 20px;
}

@media screen and (max-width: 800px){
    .formOuter {
        width: 400px;

    }
    .formText {
        font-size: 14px;
    }
}

@media screen and (max-width: 613px){
    .formOuter {
        width: 320px;
        height: 200px;

    }
    .formText {
        font-size: 12px;
        padding: 0 10px;
        text-align: center;
    }
}